div.footer{
    width: 100%;
    font-size: fit;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    margin-top: 60px;
    bottom: 0px;
}
