<div>
    <img
    src="assets/images/image{{imgno}}.jpg"
    alt="Homework {{imgno}}"
    >
</div>
<div [ngSwitch]="imgno">
  <div *ngSwitchCase="'0'" class="alert alert-primary">Is studying tiresome? Come on and join the community!</div>
  <div *ngSwitchCase="'1'" class="alert alert-primary">Do you need help? here you are!</div>
  <div *ngSwitchCase="'2'" class="alert alert-primary">Improve your understanding and simplify your Homeworks!</div>
  <div *ngSwitchCase="'3'" class="alert alert-primary">Let's homework for you!</div>
</div>
