<div class="top">
  {{title | uppercase}}
</div>
<div *ngIf="displayButton; then open else close"></div>
<ng-template #open><button (click)="changeImg(); displayCalculator=true; displayButton=false">Open Calculator</button></ng-template>
<ng-template #close><button (click)="displayCalculator=false; displayButton=true">Close Calculator</button></ng-template>

<button *ngFor="let tab of tabs">{{tab}}</button>

<app-calculator *ngIf="displayCalculator"></app-calculator>
<app-image *ngIf="!displayCalculator" [imageno]="img" (imageEmitter)="onMessage($event)"></app-image>
<p class="span" *ngIf="!displayCalculator"><span>{{message}}</span></p>
<!-- <app-footer></app-footer> -->
<router-outlet></router-outlet>
