<!-- the top part of the component display responsible for the task creation -->
<div class="card">
  <div class="card-header">
    Create a task
  </div>
  <div class="card-body">
    <form>
      <input placeholder="Add a task" [(ngModel)]="current" name="taskInput" />
    </form>
    <button class="btn btn-primary" (click)="addTask()">
      Add a task <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
<div class="example-container">
  <h2>To do</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>
</div>
<div class="example-container">
  <h2>Done</h2>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{ item }}</div>
  </div>
</div>
